<html>
	<link rel="stylesheet" href="collector.css">
	<body>
		<div id="app">
      <div class="b3-close" v-on:click="exit">X</div>
    
      <div class="message">
        Welcome to Donkey Punch Family Farm!<br><br> Collecting and packing of oranges is made manually, therefore tens of thousands of temporary workplaces are opened.<br><br> Such work does not require any special knowledge or skills, only physical endurance.<br><br>    If you like the sweet and heady scent of oranges, and you are in good physical shape - we invite you to work in our farm.
      </div>
    
      <div class="buttons" id="app">
        <div class="button" v-if="start" v-on:click="startWork">Start Work!</div>
        <div class="button" v-if="finish" v-on:click="finishWork">Finish Work!</div>
      </div>
    </div>    
		<script src="../../vue.js"></script>
	</body>
</html>


<script>
const app = new Vue({
  el: '#app',
  data: {
    start: true,
    finish: false,
  },
  methods: {
    loadFinish: function() {
      this.start = false;
      this.finish = true;
    },
    startWork: function() {
      this.exit();
      mp.trigger("cOrangeCollectorStartWork");
    },
    finishWork: function() {
      this.exit();
      mp.trigger("cOrangeCollectorFinishWork");
    },
    exit: function() {
      mp.trigger("cCloseCef");
    },
  }
});
</script>