<html>
	<link rel="stylesheet" href="atm.css">
	<body>
		<div id="app">
			<div class="b3-close" id="close-button" v-on:click="exit">X</div>
			<div class="b1-logo logoLoading" id="logo">
			  	<div class="logo">
					<img src="../fleeca.png" height="150vh">
			  	</div>
			</div>
      
      <div class="b1-money">
					<div class="b1-money-item">
						<div class="b1-summ">{{ showCash() }}</div>
						<div class="b1-summ-info">{{ cashText }}</div>
					</div>
					<div class="b1-money-item">
						<div class="b1-summ">{{ showBMoney() }}</div>
						<div class="b1-summ-info">{{ bankAccountText }}</div>
					</div>
					<div class="b1-money-item">
						<div class="b1-summ">{{ showTMoney() }}</div>
						<div class="b1-summ-info">{{ taxAccountText }}</div>
					</div>
				</div>


			<div class="b2-buttons" v-if="!transactionBlockSeen">
				<div class="b2-item" v-on:click="openTransactionBlock('getCash')">{{ takeCashText }}</div>
				<div class="b2-item" v-on:click="openTransactionBlock('putCash')">{{ putCashText }}</div>
				<div class="b2-item" v-on:click="openTransactionBlock('getTaxMoney')">{{ takeTaxMoneyText }}</div>
				<div class="b2-item" v-on:click="openTransactionBlock('putTaxMoney')">{{ putCashToTaxText }}</div>
			</div>
		  
			<div class="b3" v-if="transactionBlockSeen" v-bind:class="[{ error: addErrorClass }, { success: addSuccessClass }]">
				<div class="b3-close" v-on:click="closeTransactionBlock">X</div>
				<div class="b3-vars">
					<div class="b2-item b3-item" v-for="cash in cashTemplate" v-on:click="addToInput(cash.amount)">{{ prettify(cash.amount) }}</div>
					<div class="b2-item b3-item-input"><input class="submit-cash" type="text" v-model="inputValue"></div>
					<div class="b2-item b3-item-done" v-on:click="doTransaction">{{ doneText }}</div>
				</div>
			</div>
		  </div>
		  <script src="../vue.js"></script>
	</body>
</html>


<script>
const app = new Vue({
  el: '#app',
  data: {
    cash: 0,
    bmoney: 0,
    tmoney: 0,
    transactionBlockSeen: false,
    transactionType: null,
    cashTemplate: [
      { amount: 1000 },
      { amount: 5000 },
      { amount: 10000 },
			{ amount: 25000 },
			{ amount: 50000 },
			{ amount: 100000 },
    ],
    inputValue: 0,
    addErrorClass: false,
    addSuccessClass: false,

    cashText: "cash",
    bankAccountText: "bank account",
    taxAccountText: "tax account",

    takeCashText: "Take cash",
    putCashText: "Put cash",
    takeTaxMoneyText: "Take cash from tax account",
    putCashToTaxText: "Put cash in tax account",

    doneText: "Done",
    
    
  },
  methods: {
  	prettify: function(num) {
      let n = num.toString();
  		const separator = " ";
  		return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + separator);
    },
    showCash: function() {
      return this.prettify(this.cash);
    },
    showBMoney: function() {
      return this.prettify(this.bmoney);
    },
    showTMoney: function() {
      return this.prettify(this.tmoney);
    },
    openTransactionBlock: function(t) {
    	if (t !== "getCash" && t !== "putCash" && t !== "getTaxMoney" && t !== "putTaxMoney") {
      	return console.log(`Wrong transactionType: ${t}`);
      }
      this.transactionType = t;
      this.transactionBlockSeen = true;
    },
    closeTransactionBlock: function() {
      this.transactionType = null;
      this.transactionBlockSeen = false;
      this.inputValue = 0;
    },
    transformInputToNumber: function() {
    	if (typeof this.inputValue === "number") {
      	return;
      }
    	let str = this.inputValue;
      this.inputValue = Number(str.replace(/\D+/g,""));
    },
    addToInput: function(value) {
    	this.transformInputToNumber();
      this.inputValue += value;
    },
   	showError: function() {
    	this.addErrorClass = true;
      setTimeout(this.hideError, 500);
    },
    hideError: function() {
    	this.addErrorClass = false;
    },
    showSuccess: function() {
    	this.addSuccessClass = true;
      setTimeout(this.hideSuccess, 300);
    },
    hideSuccess: function() {
    	this.addSuccessClass = false;
    },
    doTransaction: function() {
    	this.transformInputToNumber();
      switch (this.transactionType) {
      	case "getCash":
        	this.getCash();
        	break;
        case "putCash":
        	this.putCash();
        	break;
        case "getTaxMoney":
        	this.getTaxMoney();
        	break;
        case "putTaxMoney":
        	this.putTaxMoney();
        	break;
      }
      this.inputValue = 0;
    },
    isValueBiggerThanInput: function(value) {
    	if(value < this.inputValue || this.inputValue === 0) {
      	this.showError();
      	return false;
      }
      this.showSuccess();
      return true;
    },
    getCash: function() {
    	if(!this.isValueBiggerThanInput(this.bmoney)) return;
      this.bmoney -= this.inputValue;
      this.cash += this.inputValue;
      mp.trigger("cGetCash", this.inputValue); 
    },
    putCash: function() {
     if(!this.isValueBiggerThanInput(this.cash)) return;
      this.cash -= this.inputValue;
      this.bmoney += this.inputValue;
      mp.trigger("cPutCash", this.inputValue); 
    },
    getTaxMoney: function() {
    	if(!this.isValueBiggerThanInput(this.tmoney)) return;
      this.tmoney -= this.inputValue;
      this.cash += this.inputValue;
      mp.trigger("cGetTaxMoney", this.inputValue); 
    },
    putTaxMoney: function() {
      if(!this.isValueBiggerThanInput(this.cash)) return;
      this.cash -= this.inputValue;
      this.tmoney += this.inputValue;
      mp.trigger("cPutTaxMoney", this.inputValue); 
    },
    exit: function() {
      mp.trigger("cCloseCef"); 
    },
  }
});

function load() {
	document.getElementById("logo").classList.remove("logoLoading");
}

function loadRusLang() {
  app.cashText = "наличные";
  app.bankAccountText = "сберегательный счет";
  app.taxAccountText = "налоговый счет";

  app.takeCashText = "Снять наличные";
  app.putCashText = "Положить наличные";
  app.takeTaxMoneyText = "Снять деньги с налогового счета";
  app.putCashToTaxText = "Положить деньги на налоговый счет";

  app.doneText = "Готово";
}
</script>