html {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Segoe UI;
    font-weight: 100;
    color: #DDD;
    text-align: center;
 }
 
 .b-pos {
     position: absolute;
     top: 25vh;
     left: 50%;
     transform: translateX(-50%);
     width: 100%;
 }
 
 .b_title {
    font-size: 8vh;
 }
 
 .b_mess {
    font-size: 3vh;
    margin-top: 10vh;
 }
 
 .b_input {
    color: dodgerblue;
    outline: none;
    background: url('transparent.png');
    border: 0px;
    border-bottom: 1px solid dodgerblue;
    width: 370px;
    text-align: center;
    padding: 5px;
    font-size: 3vh;
    font-family: Segoe UI;
    font-weight: 100;
    margin-top: 3vh;
 }
 
 .b_reg-button {
    width: 350px;
    padding: 10px;
    background: dodgerblue;
    font-size: 2.5vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
       transition: 0.3s;
     color: white;
 }
 
 .b_reg-button:hover {
    opacity: 0.8;
 }
 
 
 .b_reg-button_green {
    background: limegreen;
    display: none;
 }
 
 .b_reg-button_red {
    background: coral;
    display: none;
 }
 